.chatTitle
{
    color: red;
}
.clear
{
    clear: both;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
}
/* Left transition */
li.left
{
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(-100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(-100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(-100%);
    transition: transform 250ms ease;
    transform: translateX(-100%);
}
/* Right transition */
li.right
{
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(100%);
    transition: transform 250ms ease;
    transform: translateX(100%);
}
/* Border bottom for the previous button during the transition*/
li.left a.ui-btn, li.right a.ui-btn
{
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}
li a.ui-btn.border-bottom
{
    border-bottom-width: 1px;
}
/* Hide the delete button on touch devices */
ul.touch li.ui-li-has-alt a.delete
{
    display: none;
}
ul.touch li.ui-li-has-alt a.ui-btn
{
    margin-right: 0;
}
/* Styling for the popup */
#confirm p
{
    text-align: center;
    font-size: inherit;
    margin-bottom: .75em;
}

.custom-border-radius
{
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}
.ui-select
{
    font-size: .60em;
}
#betdetails-popup
{
    width: 90%;
}
.ulbetdeteals .ui-li-static
{
    padding: 0px !important;
}
.ulbetdeteals .stripe1
{
    color: White;
    background-color: Black;
}
.ulbetdeteals .stripe1
{
    color: Black;
    background-color: DarkGray;
}
.ulbetdeteals .stripeactive
{
    color: Black;
    background-color: #3370cc !important;
}
.ulbetdeteals a
{
    color: inherit !important;
    display: list-item !important;
    text-align: center;
}
.stripe1, .stripe2
{
    height: 26px;
}
.betdeteventname
{
    font-size: .7em !important;
}
.defdivider
{
    padding: 0px !important;
    background-color: Gray !important;
    text-align: center !important;
}
.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, ui-block-e
{
    text-align: center !important;
}
.ui-link
{
    text-align: center !important;
}
.ulbetdeteals
{
    display: list-item !important;
    
}
.ulprg
{
    padding-top:20px;
}
.prgdivider
{
    padding:0px !important;
}
a 
{
    text-decoration:none !important;
}
.prgheadline
{
    display:list-item;
    padding:0px !important;
    white-space:normal;
}
.ui-field-contain
{
    padding:0px !important;
}
.selectleft
{
    float:left;
}
.alignleft
{
    text-align:left !important;
}
.notopspace
{
    padding-top:0px;margin-top:0px;
}
.nopadding
{
    padding:0px !important;
    display:inline;
}
.lessmargin
{
    margin: .7em 0;
}